<h1>Pick add-ons</h1>
<p>Add-ons help enhance your gaming experience.</p>

<div class="plan-card-container">

  <div class="plan-card selected">
    <div class="left-group">
      <div class="checker">
        <img src="../../assets/images/icon-checkmark.svg" alt="" />
      </div>
      <div class="plan-card-info">
        <div class="plan-card-title">Online service</div>
        <div class="plan-card-desc">Access to multiplayer games</div>
      </div>
    </div>

    <div class="plan-card-price">+$1/mo</div>
  </div>

  <div class="plan-card selected">
    <div class="left-group">
      <div class="checker">
        <img src="../../assets/images/icon-checkmark.svg" alt="" />
      </div>
      <div class="plan-card-info">
        <div class="plan-card-title">Larger storage</div>
        <div class="plan-card-desc">Extra 1TB of cloud save</div>
      </div>
    </div>

    <div class="plan-card-price">+$1/mo</div>
  </div>

  <div class="plan-card">
    <div class="left-group">
      <div class="checker">
        <img src="../../assets/images/icon-checkmark.svg" alt="" />
      </div>
      <div class="plan-card-info">
        <div class="plan-card-title">Customizable profile</div>
        <div class="plan-card-desc">Custom theme on your profile</div>
      </div>
    </div>

    <div class="plan-card-price">+$1/mo</div>
  </div>

</div>


